
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 0 }

/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.menu-left {
  background: #f3f3f5 repeat left top;
  border-right: 1px solid;
  border-right-color: #e5e5e5;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */


.menu-left ul {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  padding-top: 23px;
}

.menu-left li {
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  line-height: 52px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-top: 18px;
  
}































.toggle { 
    font-size: 13px;
    line-height:20px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;   
}
 
/* Toggle Link text */
.toggle a.toggle-trigger {
    display:block;
    padding: 10px 20px 15px 20px;
    position:relative;
    text-decoration: none;
    color: #666;
}
 
/* Toggle Link hover state */
.toggle a.toggle-trigger:hover {
    opacity: .8;
    text-decoration: none;
}
 
/* Toggle link when clicked */
.toggle a.active {
    text-decoration: none;

}

 
/* The content of the toggle */
.toggle .toggle-content {
  position: absolute;
  top: 95px;
  left: 286px;
  right: 0;
  display: none;
  float: left;
  min-width: 360px;
  min-height: 620px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-top:  1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
 box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
}
 
</style>





































.hidden {
    .dropdown-menu
    
    
}
.menu-left a  {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
}
.menu-left a:hover{
    text-decoration:none;
    color:red;
}


.icon-menu-left {
  color: #636366;
  cursor: pointer;
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 50px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  height: 10%;
  width: 50px;
}
.icon-menu-left a:hover{
    color: #bf202f;
    
}

.icon-menu-left i {
  margin-right: 5px;
}


/* Initial menu */
.menu-right {
  background: #f3f3f5 repeat right top;
  border-left: 1px solid;
  border-right-color: #3c3c3c;
  right: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */


.menu-right ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-right li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 20px;
}

.menu-right a {
  color: #3c3c3c;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu-right {
  color: #636366;
  cursor: pointer;
  position: relative;
  float: right;
  margin-left: 15px;
  margin-top: 50px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 50px;
}

.icon-menu-right i {
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colours */
/* Responsive break points */
/*1200px*/
/*1000px*/
/*600px*/
/*530px*/
/*450px*/
/*400px*/
/*320px*/
/* border-radius */
html {
  width: 100%;
  height: 100%;
  font-size: 100%; }



body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; }




/* Main central area styles */
.page {
  word-wrap: break-word;
  position: relative;
  z-index: 500; }
  .page .scrollableArea {
    position: absolute;
    top: 4rem;
    bottom: 0;
    background: #fff; }
    @media screen and (max-width: 37.5em) {
      .page .scrollableArea {
        font-size: 90%; } }
    @media screen and (max-width: 28.125em) {
      .page .scrollableArea {
        font-size: 85%; } }
    @media screen and (max-width: 20em) {
      .page .scrollableArea {
        font-size: 80%; } }




/* Compass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colours */
/* Responsive break points */
/*1200px*/
/*1000px*/
/*600px*/
/*530px*/
/*450px*/
/*400px*/
/*320px*/
/* border-radius */
@font-face {
  font-family: Entypo;
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
      margin-top: 30px;
    }
    
    
@font-face {
  font-family: Social;
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Vanta;
  src: url("../fonts/Vanta.otf") format ("opentype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;}
  
@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-webfont.eot");
  src: url("../fonts/Pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }
  
  @font-face {
  font-family: Helios;
  src: url("../fonts/Helios.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Hai-webfont.eot");
  src: url("../fonts/Lato-Hai-webfont.woff") format("woff"), url("../fonts/Lato-Hai-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hai-webfont.ttf") format("truetype"), url("../fonts/Lato-Hai-webfont.svg#Entypo") format("svg");
  font-weight: normal ;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Lig-webfont.eot");
  src: url("../fonts/Lato-Lig-webfont.woff") format("woff"), url("../fonts/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Lig-webfont.ttf") format("truetype"), url("../fonts/Lato-Lig-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Reg-webfont.eot");
  src: url("../fonts/Lato-Reg-webfont.woff") format("woff"), url("../fonts/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Reg-webfont.ttf") format("truetype"), url("../fonts/Lato-Reg-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bol-webfont.eot");
  src: url("../fonts/Lato-Bol-webfont.woff") format("woff"), url("../fonts/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bol-webfont.ttf") format("truetype"), url("../fonts/Lato-Bol-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

::selection {
  background: #bf202f;
  color: #fff; }

::-moz-selection {
  background: #bf202f;
  color: #fff; }

::-webkit-selection {
  background: #bf202f;
  color: #fff; }

html {
  font-family: 'Lato', sans-serif; }

body {
  background-image: url(img/cloh.png);
  background-size: 250px; }

h1 {
  font-family: 'Vanta', Serif;
  font-size: 2.8em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0.5em 0;
  color: #e05000;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

.circle1 {
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 88px;
    margin-top:21px;
    position: absolute;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    -moz-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
}
 
 .btcf:after {
            content:"";
            display:table;
            clear:both;
 }
 
 .button1:hover {
  background: rgba(255, 255, 255, );
}
.button1 {
  user-select: none;
  transition: all 200ms;
  cursor: pointer;
}

.button1:active {
  transform: scale(0.8);-webkit-transform: scale(0.8);
  -ms-transform: scale(0.8); 
  transition: all 200ms;
}
@keyframes reset {
  0% {transform: rotate(5deg);}
  20% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes reset {
  0%{-webkit-transform: rotate(5deg);}
  40%{-webkit-transform: rotate(-5deg);}
  100%{-webkit-transform: rotate(0deg);}
}
@keyframes reset {
  0%{-ms-transform: rotate(5deg);}
  40%{-ms-transform: rotate(-5deg);}
  100%{-ms-transform: rotate(0deg);}
}
.circle2 {
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 304px;
    margin-top:21px;
    position: absolute;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    -moz-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);		
}

@keyframes hover-over {
    0% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
}
@-webkit-keyframes hover-over {
    0% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
}
@keyframes hover-out {
    0% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
}
@-webkit-keyframes hover-out {
    0% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
}
.circlesm {
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 220px;
    margin-top:49px;
    position: absolute;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    -moz-box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
    box-shadow: 0px 2px 2px 0px rgba(183,183,183,0.8);
}
.circlesm img {
  margin-left:28px;
  margin-top:15px;
}

.circle1 img{
  margin-left: 33px;
  margin-top: 33px;
}
 
  #circlesm:hover {
 	width: 62px;
		height: 62px;
		-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 0px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0px 5px 10px rgba(0,0,0,.3);
		box-shadow: 0px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		
  
    
  }
  
  .circle2 img{
  margin-left: 28px;
  margin-top: 33px;
}

h2 {
  font-family: 'Helios', Sans-Serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 600;
  line-height: 1.2em;
  margin-left: 0px;
  text-align: center;
  margin-top: 4px;
  color: #8d8b8b;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }
                                                  
h3 {
  font-family: 'Lato', Serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #bf202f;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h4 {
  font-family: 'Lato', Serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #bf202f;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

p {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0.6em 0; }
  p a:hover {
    color: #e05000; }

a {
  color: inherit; }
  #square1 {
    width:500px;
    height: 590px;
    background: white;
    position: relative;
    margin-top:-600px;
    margin-left:auto;

    display: block;
    border-style:solid;
    border-width:1px;
    border-color: #c2c2c2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
  }
 #square2 {
    width:488px;
    height: 590px;
    background: white;
    position: relative;
    margin-top:-600px;
    margin-left:auto;
    margin-right:auto;
    display: inherit;
    border-style:solid;
    border-width:1px;
    border-color: #c2c2c2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;}
    
 #square3 {
    width:476px;
    height: 590px;
    background: white;
    position: relative;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    display: inherit;
    border-style:solid;
    border-width:1px;
    border-color: #c2c2c2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;}

hr {
  float: left;
  width: 100%;
  height: 2px;
  margin: 3em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px dashed #ffede2; }

code {
  display: block;
  margin: 2em 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: courier new;
  background: #eeeeee;
  border-radius: 0.25em; }

.icon {
  font-family: Entypo;
  font-style: normal;
  font-size: 1.5em; }

.social {
  font-family: Social;
  font-style: normal;
  font-size: 1.5em; }

.pacifico {
  font-family: 'Pacifico'; }

.button {
  float: left;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: 'Pacifico', Serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #fff6f1;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf202f), color-stop(100%, #bf202f));
  background: -webkit-linear-gradient(#bf202f, #be4400);
  background: -moz-linear-gradient(#bf202f, #be4400);
  background: -o-linear-gradient(#bf202f, #be4400);
  background: linear-gradient(#bf202f, #be4400);
  text-decoration: none;
  border-radius: 0.375em;
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }

.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf202f), color-stop(100%, #bf202f));
  background: -webkit-linear-gradient(#bf202f, #bf202f);
  background: -moz-linear-gradient(#bf202f, #bf202f);
  background: -o-linear-gradient(#bf202f, #bf202f);
  background: linear-gradient(#bf202f, #bf202f); }

.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf202f), color-stop(100%, #bf202f));
  background: -webkit-linear-gradient(#bf202f, #bf202f);
  background: -moz-linear-gradient(#bf202f, #bf202f);
  background: -o-linear-gradient(#bf202f, #bf202f);
  background: linear-gradient(#bf202f, #bf202f); }

.button.huge {
  width: 100%;
  text-align: center;
  font-size: 2.8em;
  margin: 0.8em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.center {
  float: left;
  width: 100%;
  text-align: center; }

.fat {
  width: 100%;
  max-width: 75em;
  margin: 0 auto; }

.thin {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }

.thinnest {
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto; }


 #name_me {
  float:left;
  margin-top: 26px;
  margin-left:25px;
  font-size:26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3b3b3b;
  font-family: 'Arial', Sans-Serif; 
}

 #age_me {
  float:left;
  margin-top: 26px;
  margin-left:0px;
  font-size:26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3b3b3b;
  font-family: 'Arial', Sans-Serif;
}

  .footer{
   height:86px;
   margin-top:auto;
   margin-right:auto;
   position: relative;
    
  }

.logos {
  height: 86px;
  width:500px;
}
.ani.ng-hide-add,
.ani.ng-hide-remove {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.ani.ng-hide-add
{
  opacity: 0;
}
.ani.ng-hide-remove
{
  opacity: 1;
}
.ani.ng-hide-add
{
  opacity: 0;
}


h11 {
  font-size:20px;
  font-weight: 700;
  color: #d4d4d4;
  font-family: 'Helios', Serif;
}

 #friends {
    float:right;
    margin-top:20px;
    margin-right: 30px;
    width: auto;
    font-size:20px;
    font-weight: 700;
    color: #d4d4d4;
    font-family: 'Helios', Serif;
  }
 #music {
    float:right;
    margin-top:17px;
    width: auto;
    margin-right: 25px;
    font-size:20px;
    font-weight: 700;
    color: #d4d4d4;
    font-family: 'Helios', Serif;
 }


.pic1 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height:500px;
   width: 500px;
   border-bottom: 1px solid #2d2d2d;
  }




 .butttons{
    background:url(pictures/circles.png) 0 0 no-repeat;
  position: relative;
    height: 150px;
  margin-right: auto;
  margin-left:auto;
  margin-top: 40px;
  background-position: center center;
  display: block;
 }
 

 #wrap{
    width:500px;
    height: 900;
    background: transparent;
    position: static;
    margin-left:auto;
    margin-right:auto;
    display: block;
    border-style:solid;
  
 }
.cover {
  background: #272727 url(../pictures/_MG_3901-blur.jpg);
  background-size: cover;
  background-position: center center; }
  .cover .heading {
    padding: 3em 0;
    background-color: transparent;
    /*@include background(linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)));*/ }
    .cover .heading h1 {
      color: #fff;
      text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100; }
    .cover .heading h2 {
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100;
      color: #fff;
      opacity: 0.8; }
  .cover .info {
    padding-bottom: 1.8em; }

