<div id = "wrap">
            <div class ="square_container">
            <div id ="square3"></div>
            <div id ="square2"></div>
            <div id ="square1">
                <div class="pic1">
                    <img class="ani" ng-repeat="user in users" ng-hide="!isCurrentUserIndex($index)" ng-src="{{user.image}}" width="399" height="404" >
                    </div>
                <div class="footer_search">
                    <div class="logos_search" ng-repeat="user in users" ng-hide="!isCurrentUserIndex($index)">
                        <span id ="name_me">{{user.name}}</span>
                        <span id ="age_me">,{{user.age}}</span>
                        <span id = "friends">{{user.friends}}
                        <img src="img/search/music.png">
                        </span>
                        <span id="music">{{user.music}}
                        <img src="img/search/friends.png">
                        </span>  
                    </div>                               
                    </div>
                    </div>
                    </div>



                    <div class="butttons">
                    <div id="circle12">
                        <div class=" circle1 button1" ng-click="nextUser()">
                            <img id ="k" src="img/search/krestik.png" width="25px" height="25px">
                        </div>
                        </div>
                          <div id="circle33">
                        <div class="circlesm button1">
                            <img id ='i' src="img/search/info.png" width="4" >
                        </div>
                        </div>
                        <div id="circle22">
                        <div class="circle2 button1" ng-click="nextUser()">
                            <img id="h" src="img/search/heartik.png" width="37">
                        </div>
                        </div>
                      
                    
    </div> 