<div id = "wrap">
            <div id ="square3"></div>
            <div id ="square2"></div>
            <div id ="square1">
                <div class="pic1">
                    <img class="ani" ng-repeat="user in users" ng-hide="!isCurrentUserIndex($index)" ng-src="{{user.image}}" width="500" height="500" >
                    </div>
                <div class="footer_search">
                    <div class="logos_search" ng-repeat="user in users" ng-hide="!isCurrentUserIndex($index)">
                        <span id ="name_me">{{user.name}}</span>
                        <span id ="age_me">,{{user.age}}</span>
                        <span id = "friends">{{user.friends}}
                        <img src="img/search/music.png">
                        </span>
                        <span id="music">{{user.music}}
                        <img src="img/search/friends.png">
                        </span>       
                    </div>
                    <div class="butttons">
                        <div class="circle1 button1" ng-click="nextUser()">
                            <img src="img/search/krestik.png" width="43px" height="43px">
                        </div>
                        <div class="circle2 button1" ng-click="nextUser()">
                            <img src="img/search/heartik.png">
                        </div>
                        <div class="circlesm button1">
                            <img src="img/search/info.png" >
                        </div>

                    </div> 
                </div>
      
            </div>
    </div> 